:root {
@font-face {
    font-family: 'Lora', serif;
    font-stretch: auto; /* Note that font-stretch is a % of normal width */
    font-style: NORMAL; /* See note below */
    font-weight: 400 to 700;
    src: url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap) format('woff2');
  }
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5em auto;
    text-wrap: wrap;
}

h1 {
    grid-column: 1/3;
    font-size: 4.2em;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin: .5em;
    text-align: center;
}

h1 a {
    color: #333;
    text-decoration: none;
}

nav ul {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: .5em;
    border-top: 0.5px solid #666;
    border-bottom: 1px solid #666;
    list-style-type: none;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

nav ul li {
    padding: .5em;
    margin: .5em;
}
nav a {
    color: #666;
    text-decoration: none;
}

nav a:hover {
    color: #00ddff;
}

nav a:active {
    color: #deb887;
}  
nav a:visited {
    color: #666;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-wrap: wrap;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
}

h2 a {
    color: #666;
    text-decoration: none;
}
.post-date {
    grid-column: 1/1;
    grid-row: 3;
    margin: .5em;
    text-transform: uppercase;
    text-align: right;
    font-size: larger;
    font-weight: 600;
    color: #333;
    border-bottom: 1px solid #666;
    padding-top: 10px;
    padding-bottom: 5px;
}

.post-content {
    margin: 1em;
    font-size: small;
    text-align: left;
    text-wrap: wrap;
}

/* ***********************
 * responsive design
 *************************/

 /* FOR DESKTOP */
@media only screen and (min-width: 480px) {
    body {
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        }
    h1 {
        grid-column: 1/3;
        text-align: center;
    }
    nav {
        grid-column: 2/3;
        grid-row: 2;
        flex-direction: row;
    }
    nav ul {
        text-align: right;
        text-wrap: wrap;
        padding: auto;
    }   
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    article {
        grid-column: 1/;
        grid-row: 3;
        text-align: right;
        border-bottom: 1px solid #666;
    }
    .post-content {
        grid-column: 2/3;
        text-align: center;
    }
}